{% extends 'base.html' %}


{% block title %}
    FEEDBACK
{% endblock %}


{% block content %}
    {% if posts.items %}
        {% for post in posts.items %}
            <article class="container bg-light border border-3 border-secondary col-6 mb-3">
                <h2 class="h4 mb-2 pt-3">{{ post.title }}</h2>
                <p class="fs-5 fst-italic">{{ post.test.title }}</p>
                <p class="fs-6">{{ post.content }}</p>
                <div class="border-bottom border-2 w-25 border-dark border-warning mb-3"></div>
                <div class="row align-items-center mb-3">
                     <img class="col-sm-1 col-lg-2 align-self-center img rounded-circle"
                          src="{{ url_for('static', filename='avatars/' + post.author.image) }}">
                    <div class="col text-muted">published by <b><i>&lt;&lt;{{ post.author.username }}&gt;&gt;</i></b>
                        <br>
                        at: {{ post.post_date.strftime('%Y-%m-%d') }}</div>
                </div>
                <div class="mb-3">
                  {% if post.author == current_user %}
                     <a class="btn btn-secondary"
                        href="{{ url_for('posts.post_update_page', post_uuid=post.uuid) }}">
                         Update
                     </a>
                     <button class="btn btn-danger" data-bs-toggle="modal"
                             data-bs-target="#deleteModal-{{post.uuid}}">
                         Delete
                     </button>
                  {% endif %}
                </div>
            </article>

            <!-- MODAL -->
            <div class="modal fade" id="deleteModal-{{post.uuid}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm the deletion of this post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('posts.post_delete', post_uuid=post.uuid) }}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}

        <!-- PAGINATION -->
        {% if posts.pages > 1 %}
            <div class="text-center mb-2">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <a class="btn btn-dark mb-4" href="{{ url_for('posts.post_list_view_page', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-dark mb-4" href="{{ url_for('posts.post_list_view_page', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    <div class="btn btn-secondary mb-4">&#8636;&#8641;</div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}

    {% else %}
        <div class="container text-center h2 fw-bold pt-5">No feedback yet</div>
    {% endif %}
{% endblock %}
