{% extends "base.html" %}

{% block title %}
    ERR500
{% endblock %}

{% block content %}
        <div class="container text-center">
            <img src="{{ url_for('static', filename='err/500.png') }}" alt="err_500"
                 class="mb-3 justify-content-sm-center" style="width: 200px; height: 140px;">
            <h1>500. Server error</h1>
            <p>An error occurred on the server side. Please, try again later.
                <a href="{{ url_for('main.home_page') }}">Click</a> to return to the main page.
            </p>
        </div>
{% endblock %}
