{% extends 'base.html' %}


{% block title %}
    Questions
{% endblock %}


{% block content %}

    <div class="container text-center mt-5 mb-3 display-6 fst-italic fw-bold">{{ question.test.title }}</div>
    <div class="card container col-lg-9">
        <div class="card-body">
            <h5 class="card-title h4 fst-italic mb-4">{{ question.order_number }}. {{ question.text }}</h5>
             <form method="POST" action="" autocomplete="off">
                {{ form.hidden_tag() }}
                <fieldset style="margin-bottom: 30px;">
                    {{ form.options(style="list-style-type:none;", class="card-text fs-5", type="radio") }}
                </fieldset>
                <div class="text-center">{{ form.submit(class="btn btn-light btn-outline-primary") }}</div>
            </form>
        </div>
    </div>

{% endblock %}
