{% extends 'base.html' %}


{% block title %}
    Details
{% endblock %}


{% block content %}

    <div class="container row d-flex justify-content-center text-center mt-5">
        <div class="align-self-center display-6 fw-bold">{{ test.title }}</div>
        <img class="align-self-center img-thumbnail rounded-circle m-4" style="width: 200px; height: 200px;"
             src="{{ url_for('static', filename='tests/' + test.image) }}">
    </div>
    <div class="fst-italic text-center fs-4 mb-3">
        Your best score: <b class="text-success"><i>{{ test.get_best_result() }}</i> correct answers</b>
            out of <b class="text-primary"><i>{{ test.get_num_questions() }}</i> questions</b>
    </div>
    <div class="container col-lg-6 text-center fs-5 bg-info fst-italic mb-4">
        The quiz contains <b class="text-primary"><i>{{ test.get_num_questions() }} questions</i></b>.
        Time limit is not applied.<br>
        Each correct answer equals 1 point. Check your score in the end.<br>
        Good luck!
    </div>

    <div class="col-sm mb-4">
        {% with unfinished_result = test.get_last_result() %}
            {% if unfinished_result %}
                 <form action="{{ url_for('quiz.result_update_question_view_page',
                                           test_uuid=test.uuid,
                                           result_uuid=unfinished_result.uuid) }}"
                       method="POST"
                       class="d-flex justify-content-center" style="margin-left: -20px;">
                        <input type="submit" class="btn-lg btn-primary" value="RESUME TEST">
                </form>
            {% else %}
                 <form action="{{ url_for('quiz.result_create_view', test_uuid=test.uuid) }}" method="POST"
                       class="d-flex justify-content-center" style="margin-left: -20px;">
                        <input type="submit" class="btn-lg btn-primary" value="START TEST">
                </form>
            {% endif %}
        {% endwith %}
    </div>

    <small class="row text-center">
        <a class="text-primary h4" href="{{ url_for('quiz.tests_list_page') }}">
            &lt;&lt; Return to the page with tests
        </a>
    </small>

{% endblock %}
